    <h1>ЧудоМагазин<h/1>

    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/aboutus">О магазине</a>

    <div style="border: 3px black solid">
    <h5>PlayStation5</h5>
    <img src="https://pushminer.ru/image/cache/catalog/asicsPUSHMINER/konsoli/sony_playstation_5-650x650.jpg">
    <p>PlayStation - это игровая приставка</p>
    </div>


    <div style="border: 3px black solid">
    <h5>наушники</h5>
    <img src="https://imgaz1.staticbg.com/thumb/large/oaupload/banggood/images/AF/0B/b2c0c87a-edd0-48ba-97b1-e774a9d56862.jpg">
    <p>наушники - это  устройство для прослушивания звуковой информации</p>
    </div>
""")
