    <style>
        @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Marck+Script&display=swap');

        * {
            font-family: "Marck Script";
        }
        h1 {
        font-size: 77px;
    color: #14dadd;
    font-style: italic;
    }
        img {
        width: 170px;
        height: 170px;
        }


        .product {
        border: 3px black solid;
        display: flex;
        margin-top: 37px;
        background-color: #d4d9d8;
        border-radius: 7px;
        padding: 10px;
        }

        h2 {
        width: 300px;
               }

        button {
        margin-left: auto;
        }
    </style>


<h1><span style="color: #14de95">Чудо</span>Магазин</h1>

    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/aboutus">О магазине</a>

    <div class = "product">
        <img src="https://pushminer.ru/image/cache/catalog/asicsPUSHMINER/konsoli/sony_playstation_5-650x650.jpg">
  <div>
    <h2>PlayStation5</h2>
    <p>PlayStation - это игровая приставка</p>
  </div>
        <button>Купить</button>
    </div>


    <div class="product">
        <img src="https://imgaz1.staticbg.com/thumb/large/oaupload/banggood/images/AF/0B/b2c0c87a-edd0-48ba-97b1-e774a9d56862.jpg">
    <div>
        <h2>наушники</h2>
        <p>наушники - это  устройство для прослушивания звуковой информации</p>
    </div>
        <button>Купить</button>
    </div>
        """)